@charset "UTF-8";
 
*{
    margin: 0px;
font-family: Arial, Helvetica, sans-serif;
 }


 :root{
--cor01: #0079FF;
--cor02: #7AAEDC;
 }

body{
   
    background-color: #F5F5F5;
    padding: 0px 10px 0px 10px;
   

}



header > center > img{
min-width: 300px;
border-bottom: solid 10px #7AAEDC;
margin-bottom: 10px;
}

 header{ 
   
    border-radius: 0px 0px 5px 5px;
   
    padding: 20px;
    background-color: #FFFFFF;
    
 }


 .links{

    margin-top: 20px;

 }


.links > a{
    font-weight: bold;


padding: 10px;
font-size: 1.3em;
color: #063a75;
text-decoration:dashed;
}

.links > a:hover{
text-decoration: underline;

}


 .h1principal{
    text-align: center;
    font-weight: bolder;
   
    color: #063a75;
    
 }


.headermain{
   margin-top: 30px;
    

}






.h1main{
font-size: 1.8em;
    text-align: center;
    font-weight: bolder;
   margin: 50px;
    color: #063a75;
    
}



.texto{
    text-align: center;
    font-weight: bolder;
margin: 10px;
    color: #7AAEDC;
 }







.imgmain {
    border-top: solid 10px #7AAEDC;
margin-top: 40px;
padding-top: 20px;
background-color: white;

}


.imgmain > center > img{
    border-radius: 50%;
    
  
display: block;
width: 320px;

}

.preco{
    padding: 7px;
font-size: 13px;
    text-align: center;




}

.preco > h6{
margin-top: 15px;
font-size: 1em;
color: #737373;
}
.preco > p{

    color: #a8a8a8;
}

.comprar{
    padding: 10px;
    text-decoration: none;
color: white;


}

.comprar > p{
    
    background-color: #4CAF50;
padding: 15px;
}


aside{
background-color: white;
padding: 100px;

}



























 footer{
    text-align: right;
padding-top: 15px;
position: relative;
position: sticky;
bottom: -1px;
top: -1px;

 }

 footer > nav > a > img{
    
    
     
padding: 20px;
width: 55px;

 }