@charset "UTF-8";
 
*{
    margin: 0px;
font-family: Arial, Helvetica, sans-serif;
 }


 :root{
--cor01: #0079FF;
--cor02: #7AAEDC;
 }



 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

 




body{
   
    background-color: #f0eeee;
    padding: 0px 10px 0px 10px;
   

}





header > div > center > img{
    

margin-bottom: 10px;
}






.headersticky{
    
    display: block;
    text-align: center;
    background-color: #E1E1E1;
    text-align: right;
    position: relative;
    position: sticky;
    bottom: -1px;
    top: -1px;
    padding: 10px;
}

.headersticky > h1 {
font-size: 15px;
color: black;
text-align: center;

}

.headersticky > p{
    font-size: 10px;
text-align: center;
color: black;
    font-weight: bolder;
}





 header{ 
  
    border-radius: 0px 0px 7px 7px;
   
    padding: 20px;
    background-color: #E1E1E1 ;
    
 }


header > input{
background-color: #E1E1E1;
border-left: none;
border-right: none;
border-top: none;
padding: 10px;

}


header > input:hover{
font-size: 15px;

}



.h1main{
font-size: 1.8em;
    text-align: center;
    font-weight: bolder;
   margin: 28px;
    color: #063a75;
    
}



.texto{
    text-align: center;
    font-weight: bolder;
margin: 10px;
    color: #7AAEDC;
 }





.imgmain {

    border: 1px solid rgb(230, 223, 223);
    border-radius: 7px;
font-size: 12px;
margin-top: 20px;
padding-top: 10px;
background-color: white;
}









.imgmain > center > a > img{
   margin-top: 20px;
display: block;
width: 180px;


}

.imgredonda{
    display: block;
    width: 280px;
border-radius: 50%;


}



.preco{
    font-weight: bold;
    padding: 7px;
font-size: 13px;
    text-align: center;




}

.preco > h6{
margin-top: 15px;
font-size: 1em;
color: #737373;
}
.preco > p{

    color: #a8a8a8;
}

.comprar{
    padding: 10px;
    text-decoration: none;
color: white;


}

.comprar > p{
    border-radius: 7px;
  width: 200px;
    background-color: #4CAF50;
padding: 15px;
}


























aside{
    margin-top: 20px;


}

























 footer{
    text-align: right;
padding-top: 15px;
position: relative;
position: sticky;
bottom: -1px;
top: -1px;

 }

 footer > nav > a > img{
    
    
     
padding: 20px;
width: 55px;

 }